@font-face {
    font-family: HanaMinA;
    src: url(https://cdn.jsdelivr.net/gh/max32002/max-hana@1.1/webfont/HanaMinA.woff2) format("woff2")
    , url(https://cdn.jsdelivr.net/gh/max32002/max-hana@1.1/webfont/HanaMinA.woff) format("woff");
  }
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #B29564;
    font-size: 2rem;
}

a:hover {
    color: #ffffff;
    text-decoration-line: underline;
}

/* Header */
header {
    background-color: #003E52;
    position: relative;
    padding: 0 auto;
    width: 100%;
}

.navbar {
    width: 100%;
    height: 100px;
    max-width: 1920px;
    padding: 0 12.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #003E52;
}

.svg_header:hover,
.svg_store:hover,
.svg_class:hover,
.svg_article:hover {
    padding-bottom: 20px;
    border-bottom: 1px solid #B29564;
}

.svg_header,
.svg_store,
.svg_class,
.svg_article {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.svg1,
.svg2,
.svg3,
.svg4 {
    width: 80px;
    height: 40px;
    position: absolute;
}

.navbar .links {
    display: flex;
    gap: 20rem;
    justify-content: center;
    align-items: center;
}

.navbar .toggle_btn {
    color: #B29564;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.btn {
    display: flex;
}

.love_btn {
    padding: 0.5rem 1rem;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.action_btn {
    padding: 0.5rem 2rem;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.circle {
    height: 30px;
    width: 30px;
    background-color: #B29564;
    border-radius: 50%;
    display: inline-block;
    margin: 0rem 1rem;
}

.search {
    align-items: center;
    justify-content: center;
    margin: 0.4rem 1rem;
}

.circle:hover,
.love_btn:hover,
.action_btn:hover {
    transform: scale(1.05);
}

.circle:active,
.action_btn:active .love_btn:active {
    transform: scale(0.95);
}



.search2 {
    display: none;
}

.search2.disappear {
    display: none;
}

/* dropdown menu */
.dropdown_menu {
    display: none;
    position: absolute;
    top: 70px;
    height: 0;
    width: 100%;
    background-color: #002d3c;
    overflow: hidden;
    transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu a {
    color: #ffffff;
}

.dropdown_menu.open {
    height: 100vh;
}

.dropdown_menu li {
    padding: 3rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown_menu a {
    padding-bottom: 20px;
    border-bottom: 1px solid #726d6d;
    width: 60%;
    text-align: center;
    justify-content: center;
}

.logo2 {
    padding: 1.5rem;
    text-align: center;
    justify-content: center;
}

.star {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 12.5vw;
}

@media (max-width: 1600px) {
    .navbar {
        padding: 0 8vw;
    }

    .navbar .links {
        gap: 16rem;
    }
}

@media (max-width: 1300px) {
    .navbar {
        padding: 0 4vw;
    }

    .navbar .links {
        gap: 0 12rem;
    }
}

@media (max-width: 1100px) {
    .navbar .links {
        gap: 0 10rem;
    }
}

/* responsive design */
@media (max-width: 992px) {

    .navbar .links,
    .navbar .action_btn,
    .love_btn,
    .circle,
    .search {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .search_flex {
        display: flex;
    }

    .dropdown_menu {
        display: block;
    }

    .logo {
        width: 100px;
        height: 50px;
    }

    .navbar {
        height: 70px;
        padding: 0 10vw;
    }

    .search2 {
        display: block;
        margin: 0rem 1rem;
    }

    .logo.disappear2 {
        display: none;
    }
}